* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 90vh;
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem !important;
  padding: 1rem 0 !important;
}

h2 {
  font-size: 1.4rem !important;
  padding: 0.5rem 0 !important;
}

/* .shopping-cart-heading {
  margin-bottom: 1.5rem;
} */
